<h2>Misaki Matsumoto</h2>
<!-- <div class="center jumbotron"> -->
<center><p>Accessibility &emsp; Project Management &emsp;
    Social Impact &emsp;  Autism </p></center>
<!-- </div> -->
<h2><%= image_tag("home/cat3.png", :alt => "neko", :height => "200", :width =>"600") %></h2>
<br>
<center><p>Contact me at</p></center>
<center><p>misaki.matsumoto2524@gmail.com</p></center>
