<h2>Misaki Matsumoto</h2>
<div class="center jumbotron">
  <h4>My Key Word</h4>
  <p>Accessibility &emsp; Front-end &emsp;
    Social Impact &emsp;  Autism </p>
</div>
<h2><%= image_tag("home/cat3.png", :alt => "neko", :height => "200", :width =>"600") %></h2>
