<h1>My current projects</h1>
<h3>Personal Project: Web development bootcamp </h3>
<p></p>

<h3>FEM Tech Berkeley | Webmaster + TechShare Director</h3>
<p>The purpose of FEM Tech is to promote gender diversity and
  inspire women from all majors to excel in technology careers.
  I have been maintaining the website.</p>
<p>TechShare is  </p>


<h3>ToorPIA | Web developer (+ Research Dev)</h3>
<p></p>

<h3>NPO Sorashido | Co-founder</h3>
<p></p>
