<h1>My current projects</h1>
<h3>Personal Project | Web development bootcamp </h3>
<p>I am learning web development with Ruby on Rails.
  I am coding and creating website everyday.
  Intense learning!</p>
  <br>

<h3><a href= "https://femtechberkeley.herokuapp.com/">FEM Tech Berkeley</a> | Webmaster</h3>
<p>The purpose of FEM Tech is to promote gender diversity and
  inspire women from all majors to excel in technology careers.
  I have been maintaining their website. (WIP)</p>
  <br>


<h3><a href = "http://www.toor.jpn.com/">ToorPIA Inc.</a> | Web developer (+ Research Development)</h3>
<p>Big Data for everyone! ToorPIA is a new software engine for visualizing Big Data. It plots data on a plane and makes a map.
  The multi-dimensional analyzer finds correlating factors and insights
  buried within big data. I am currently re-building their website and writing
  documentation and tutorial to make them more accessible to everyone!</p>
<br>

<h3><a href = "https://www.facebook.com/nposorasido/">NPO Sorashido</a> | Co-founder</h3>
<p>An NPO based in Kobe, Japan with the motto "for a society which loves and supports children of all conditions."</p>
<p>We advise and educate parents of disabled children, focusing on disability awareness,
  raising children, preparing children in the event the parents pass away, etc.
  We are currently establishing a university and job training program that accommodates disabled students.
  Also by raising 500,000 yen via crowdfunding, we held events to educate the public about disabilities.</p>
</p>
<br>
<br>
<br>
