<h1>My current projects</h1>
<h3>Personal Project | Web development bootcamp </h3>
<p>I am learning web development ruby on rails.
  I am coding and creating website everyday!
  Intense learning!</p>
  <br>

<h3><a href= "https://femtechberkeley.herokuapp.com/">FEM Tech Berkeley</a> | Webmaster</h3>
<p>The purpose of FEM Tech is to promote gender diversity and
  inspire women from all majors to excel in technology careers.
  I have been maintaining their website.(Beta version now!)</p>
  <br>


<h3><a href = "http://www.toor.jpn.com/">ToorPIA Inc.</a> | Web developer (+ Research Dev)</h3>
<p>Big Data for everyone! ToorPIA is a new software engine to visualize Big Data. It plots data on a plane and makes a map.
  Multi-dimensional analyzer extracts the correlating factors, and we can find facts
  in hiding in the original big data. I am currently re-building the website and writing
  the documentation and tutorial to make it more accessible to anyone!</p>
<br>

<h3>NPO Sorashido | Co-founder</h3>
<p>An NPO based in Kobe, Japan with the motto "for a society which loves and supports children of all conditions."</p>
<p>Advise and educate parents of disabled children, including disability awareness,
  raising children, preparing children in the event the parents pass away, etc.
  We are currently establishing a university and job training program that accommodates disabled students.
  Also by raising 500,000 yen via crowdfunding, we held events to educate the public about disabilities.</p>
</p>
