<h1>Resume</h1>
<p>Download my resume <a href="https://drive.google.com/file/d/0B2Qcc6i4CUZ-OHRXZTRVWnpHRDg/view?usp=sharing" >here</a>.</p>
<div class="resume">
<h3>PROFILE</h3>
<p>Looking to learn new things and further innovations in technology to make the world a better place for families struggling with disability.</p>
<br>

<h3>EDUCATION</h3>
<p>University of California, Berkeley</p>
<p>Graduated: 7/2016</p>
<p>B.A. Interdisciplinary Studies (Neuroscience/Psycholinguistics)</p>
<br>

<h3>WORK EXPERIENCE</h3>
<p><span id="bold">Cisco / Data Analyst</span> &emsp;(8/2016 -11/2016)</p>
<p>Gather, format, and analyze data for marketing & sales teams using MySQL and Python. Interfacing data with enterprise products.</p>
<br>
<p><span id="bold">Google Japan / STEP (internship)</span> &emsp;(6/2014 - 9/2014)</p>
<p>TSP algorithm via simulated annealing in Python and Java. Gained strong communication skills and teamwork.</p>
<br>
<p><span id="bold">Kasuga Hospital / Certified Care Worker</span> &emsp;(9/2014 - 2/2015)</p>
<p>Helped the elderly with meals, lavatory, bathing, etc., and enhanced quality of life through
  improved services. Gained experience with communication and hands-on medical
  practice. Collected and analyzed patient data using statistical software.</p>
<br>
<p><span id="bold"><a href="http://www.mirairo.co.jp/"> Mirairo Inc.</a> / Research Assistant</span> &emsp;(12/2014 - 5/2015)</p>
<p>Consulted Japanese universities and created internationalized disabled student programs. Advised universities on improving their services.</p>
<br>
<p><span id="bold">Diablo Valley College / Technology Specialist</span> &emsp;(8/2011 - 5/2012) </p>
<p>Taught disabled individuals accessibility technologies. Dragon NaturallySpeaking, JAWS, Sonocent Audio Notetaker, VoiceOver.</p>
<br>
<h3>VOLUNTEER WORK </h3>
<p><span id="bold"><a href = "https://www.facebook.com/nposorasido/">Sorasido NPO</a> / Co-founder</span> &emsp;(3/2016 - Now)</p>
<p>An NPO based in Kobe, Japan with the motto "for a society which loves and supports children of all conditions.“ Consulted lawyers and City Hall to file legal documentation. Provided after school services for the disabled. Managed crowdfunding campaign.</p>
<br>
<p><span id="bold">FEM Tech Berkeley / Webmaster & Tech Share Director</span>&emsp; (10/2014 - Now)</p>
<p><a href="femtechberkeley.herokuapp.com">(WIP website)</a>
Inspiring women from all majors to pursue careers in technology. Tech Share is our weekly event that provides self-paced coding workshops. Leadership, public speaking, event planning and management.</p>
</div>
<br>
<br>
