<h1>My Story</h1>
  <div class="center jumbotron">
    <h4>Summary</h4>
    <p>・ The first generation of college graduate<p>
    <p>・ My family has autism.</p>
    <p>・ I want to make the world more accessible to people with & without disability. </p>
  </div>
  <center>
  <%= image_tag("mystory/ritsuki.jpg", :alt => "ritsuki", :height => "200", :width =>"200", :class => "img-circle", id:"family", :style => "center") %>
  <%= image_tag("home/blackcat.png", :alt => "cat", :height => "200", :width =>"200", :style => "center", id: "cat") %>
  <%= image_tag("mystory/misaki.jpg", :alt => "misaki", :height => "200", :width =>"200", :class => "img-circle", id:"family", :style => "center") %>
</center>
<br>
<br>
<p> I was raised in a rural region of <span id="purple">Japan</span>.</p>
<p> My parents never went to university.</p>

<p>My father’s side of the family has a history of <span id="purple">autism</span>; my brother is <span id="purple">autistic</span>.
  My mother is almost <span id="purple">deaf</span>. Recently I was diagnosed with <span id="purple">autism</span> as well.
  In spite of having to take care of my family, I studied hard.</p>
<br>
<p>I won an award in literature and a scholarship to
  study physics and chemistry at the University of Oxford when I was in high school.
  I caught the swine flu at Oxford and had to leave England,
  but I think I remained determined.</p>
<br>
<p>I took an interest in <span id="purple""purple">neuroscience</span> and entered UC Berkeley.</p>
<p>I took a gap year to work as a <span id="purple">care worker</span> at a senior center and became certified.
  I understands the importance of technology in accessibility and social impact.
  I taught disabled individuals how to use accessibility technologies like
  <span id="purple">Dragon NaturallySpeaking, JAWS, Sonocent Audio Notetaker, and VoiceOver.</span></p>
<br>
<p>I would like to create <span id="purple">social impact</span> that are much more usable for disabled individuals.
  Though I consider myself as introverted,
  I am very assertive when I talk about my big ideas for social impact particularly
  for disabled people. I am responsible and a team player.
  Not only would I be able to incorporate my designs and personal experience,
  but I would like to quickly learn the team’s technologies to get onboard.</p>
<br>
<br>
