<h1>My Story</h1>
  <div class="center jumbotron">
    <p>I'm the first generation of college graduate.<p>
    <p>My family is autistic.</p>
    <p>I want to make the world more accessible to people with & without disability. </p>
    <p> "Autism does not define myself. It is a unique part of me, one that can even be valuable." </p>

  </div>
  <center>
  <%= image_tag("mystory/ritsuki.jpg", :alt => "ritsuki", :height => "200", :width =>"200", :class => "img-circle", id:"family", :style => "center") %>
  <%= image_tag("home/blackcat.png", :alt => "cat", :height => "200", :width =>"200", :style => "center", id: "cat") %>
  <%= image_tag("mystory/misaki.jpg", :alt => "misaki", :height => "200", :width =>"200", :class => "img-circle", id:"family", :style => "center") %>
</center>
<br>
<br>
<p> I was raised in a very rural region of <span id="bold">Japan</span>.</p>
<p>(*It means NO TECHNOLOGY 😞 I started using a computer just 5 years ago. And now I am learning coding. WooHoo!
  I still remember the moment that I figured out how to copy-paste for the first time, which is actually 3 years ago...)</p>
<p> My parents never went to university.</p>

<p>My father’s side of the family has a history of autism. My brother is <span id="bold">autistic</span>.
  My mother is almost <span id="bold">deaf</span>. Recently I was diagnosed with <span id="bold">autism</span> as well.
  In spite of having to take care of my family, I studied hard.</p>
<br>
<p>I won an award in literature and a scholarship to
  study physics and chemistry at the University of Oxford when I was in high school.
  I caught the swine flu at Oxford and had to leave England,
  but I think I remained determined.</p>
<br>
<p>I took an interest in <span id="bold">neuroscience</span> and entered UC Berkeley.</p>
<p>I have experience of teaching disabled individuals how to use accessibility technologies like
<span id="bold">Dragon NaturallySpeaking, JAWS, Sonocent Audio Notetaker, and VoiceOver at a community college.</span></p>
<p>I took a gap year to gain hands-on experience: worked as a <span id="bold">care worker</span> at a senior center and became certified.
  And learned special education system and became a certified <span id="bold"> special education coordinator </span>.</p>
<br>
<p>I understands the importance of technology in <span id="bold">accessibility and social impact.</span></p>
<p>Technologies for the disabled or the elderly are not widely available, so I established a <span id="bold">nonprofit organization </span>and
  an after school program. Currently I am establishing an university for the disabled which provides job training.
  I am seeking for opportunities to gain good skill sets such as <span id="bold">project
  management and development </span>in order to scale my services to become more accessible.</p>
<br>
<p>I want to create <span id="bold">social impact</span> that are much more usable for disabled individuals.
  Though I consider myself as introverted,I am very assertive when I talk about my big ideas for social impact
  particularly for disabled people. </p>
<br>
<p>I believe that <span id="bold">"Autism does not define myself. It is a unique part of me, one that can even be valuable to help people."</span></p>
<br>
<br>
<br>
