@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

/*typography*/
li, h1, h2, h3, p {
  font-family: 'Share Tech Mono', monospace;
  padding-top: 30px;

}

li {
  font-size: 1.8em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 6em;
  text-align: center;
}

h3 {
  font-size: 1.8em;
}


p{
  font-size: 1.2em;
}

/* nav bar*/

.navbar-fixed-left {
  width: 20%;
  position: fixed;
  height: 100%;
  border-right-style: solid;
  border-radius: 0;
  border-right-color: black;

}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
}

.container {
  padding-left: 15%
}

.navbar-nav li > a {
  color: black;
  padding-left: 60px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 5px;


  &:hover {
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
  &:focus {
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
  &:active {
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
}

.row {
  padding-left: 10%;
}

/*icon*/
.icon {
  padding-top: 80px;
  text-align: center;
  padding-left: 30px;
}

/*button*/
#button {
  position: absolute;
  right: 10px;
  top: 20px;
  font-family: 'Share Tech Mono', monospace;
  margin-right: 30px;
  color: white;
  background: black;
  font-weight: bold;
}

#button2 {
  position: absolute;
  right: 70px;
  top: 30px;
  font-family: 'Share Tech Mono', monospace;
  margin-right: 30px;
  color: white;
  background: black;
  font-weight: bold;

}

/*footer*/
#footer {
  position: absolute;
  bottom: 0;
  right: 10px;
}

#cat {
  padding-left: 30%;
  padding-top: 70px;
}
